<div class="container py-4" >
    <div class="p-5 mb-4 bg-light rounded-3 " id="jmbotron" >
      <div class="container-fluid py-5">
        <h1 class="display-4 ">Alpha Blog</h1>
        <p>Using a series of utilities, you can create this jumbotron.Check out the examples below for how you can remix and restyle it to your liking.</p>
        <br/>
        <p>Using a series of utilities how you can remix and restyle it to your liking.</p>
        <button class="btn btn-success btn-lg" type="button">Sign up!</button>
      </div>
    </div>
</div>

<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <span class="text-muted">copyright@ ab</span>
  </div>
</footer>